.list-container{
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 50px 20px 30px 20px;
    .lyric-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 60vh;
        overflow: hidden;
     
        .lyric-line{
            font-size: 28px;
            color: #ffffff;
            line-height: 4;
        }
    }
}