.mini-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    z-index: 20;
}